@model List<StudentPortal.Web.Models.Entites.Student>

<div class="d-flex justify-content-between" >
    <h1>All Students</h1>
    <a class="btn btn-primary h-50 w-15" asp-controller="Students" asp-action="Add">Add Student</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.Phone</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>

</table>
